
</br></br></br></br>
<h1>Слёзы вещей</h1>
<p>И я познаю мудрость и печаль,</p>
<p>Свой тайный смысл доверят мне предметы.</p>
<p>Природа, прислонясь к моим плечам,</p>
<p>Откроет свои детские секреты.</p>



В реальности куклы не оживают. А в литературе - оживают. В пространстве текста - кукла может ожить. Достаточно автору написать: "И вдруг деревянный человечек в руках папы Карло ожил" - и всё: новая человекоподобная сущность - Буратино - готова. В пространстве текста это возможно. 


Ожившая кукла.  Буратино. Оживший манекен или памятник. Голем. Человекоподобная машина. Терминатор.

Пигмалион и Галатея.

В 12-13 веке в Европе, в доме, в семье находили куклу, хозяйку дома сжигали на костре как ведьму.


Какие ассоциации вызывает этот ряд? Ожившая статуя Коммандора из пушкинского Каменного гостя. Оживающий по ночам Медный всадник. Восковые фигуры мадам Тюссо. Движение луддитов - против внедрения машин в ходе промышленной революции в Англии.  Есенинская поэма Сорокоуст. Мотив Голема в литературе. Фильм Джеймса Кэмерона "Терминатор" - в котором идея машин-кукол достигла своего апогея - восстание машин против своего создателя - человека.
Так или иначе современный мир немыслим без машин и механизмов: станков, конвееров, поездов, поъемных кранов, нефтяных вышек, спутников, ноут-буков и так далее. Все эти вещи - результат труда лучших умов человечества на протяжении всей его истории. Люди испокон веков изучали законы природы, свойства живых организмов и материи - и ставили их себе на службу, тем самым облегчая жизнь себе и своим соплеменникам.
Теперь у нас есть пеницилин, бензин марки премиум, порох, электричество, телефоны.. Список изобретений можно посмотреть здесь - и он впечатляет.