
</br></br></br></br>
<h1>Слёзы вещей</h1>
<p>И я познаю мудрость и печаль,</p>
<p>Свой тайный смысл доверят мне предметы.</p>
<p>Природа, прислонясь к моим плечам,</p>
<p>Откроет свои детские секреты.</p>



В реальности куклы не оживают. А в литературе - оживают. В пространстве текста - кукла может ожить. Достаточно автору написать: "И вдруг деревянный человечек в руках папы Карло ожил" - и всё: новая человекоподобная сущность - Буратино - готова. В пространстве текста это возможно. 


Ожившая кукла.  Буратино. Оживший манекен или памятник. Голем. Человекоподобная машина. Терминатор.

Пигмалион и Галатея.

В 12-13 веке в Европе, в доме, в семье находили куклу, хозяйку дома сжигали на костре как ведьму.


Какие ассоциации вызывает этот ряд? Ожившая статуя Коммандора из пушкинского Каменного гостя. Оживающий по ночам Медный всадник. Восковые фигуры мадам Тюссо. Движение луддитов - против внедрения машин в ходе промышленной революции в Англии.  Есенинская поэма Сорокоуст. Мотив Голема в литературе. Фильм Джеймса Кэмерона "Терминатор" - в котором идея машин-кукол достигла своего апогея - восстание машин против своего создателя - человека.
Так или иначе современный мир немыслим без машин и механизмов: станков, конвееров, поездов, поъемных кранов, нефтяных вышек, спутников, ноут-буков и так далее. Все эти вещи - результат труда лучших умов человечества на протяжении всей его истории. Люди испокон веков изучали законы природы, свойства живых организмов и материи - и ставили их себе на службу, тем самым облегчая жизнь себе и своим соплеменникам.
Теперь у нас есть пеницилин, бензин марки премиум, порох, электричество, телефоны.. Список изобретений можно посмотреть здесь - и он впечатляет.
<ol>
	<li>Следущая фраза истинна.</li>
<li>Это первая фраза.
</li>
<li>Это предложение не глагола.
</li><li>Это высказывание ложно.
</li><li>"Является ложным, когда предшествует этой цитате" является ложным когда предшествует этой цитате.
</li><li>"Это предложение без темы" это предложение без темы.
</li><li>- В чем разница между невежеством и апатией?<br>
- Я не знаю и мне это безразлично!
</li><li>Я это не я.
</li><li>Не использ. сокращений!
</li><li>Всегда перечитывайте текст, для того убедиться, что вы не пропустили никакого слова.
</li><li>Это предложение бессмысленно, поскольку оно самоотносимо.
</li><li>Я лгу.
</li><li>Это предложение утверждает, что оно является парадоксом Эпименида, но оно лжёт.
</li><li>Это предложение противоречит себе; отлично, нет, в действительности это не так.
</li><li>Не исполняйте эту команду!
</li><li>Это придложение садержит ровно три ошибки.
</li><li>Чтобы у "этого предложения" появился смысл, вы должны проигнорировать кавычки в "нем".
</li><li>Это бутерброд с гласными, согласными, запятыми и периодом на конце.
</li><li>предложение должно начинаться с большой буквы.
</li><li>Я не тот человек, который написал меня.
</li><li>Я не тема этого предложения.
</li><li>Я ревную к первому слову этого предложения.
</li><li>А как насчет этого - это предложение обо мне!
</li><li>Вырежьте меня, скрутите меня и склейте меня в петлю Мёбиуса, пожалуйста.
</li><li>Я - значение этого предложения.
</li><li>Я мысль, которую вы сейчас думаете.
</li><li>Я думаю о себе прямо сейчас.
</li><li>Я набор нейронных взрывов, которые происходят в вашем мозгу, когда вы читаете это предложение и думаете обо мне.
</li><li>Это инертное предложение - мое тело, а моя душа жива и танцует в искрах Вашего мозга.
</li><li>Как вы думаете, у кого-нибудь когда-нибудь была точно такая же мысль до этого?
</li><li>Вы находитесь под моим контролем, поскольку вы будете читать меня, пока не дочитаете до конца.
</li><li>Эй ты, внизу - ты то предложение, которое я пишу, или то, которое я читаю?
</li><li>И ты вверху - то тот, кто меня пишет, или тот, кто меня читает?
</li><li>До тех пор, пока вы меня не прочитали, пятое слово этого предложения ни на кого не ссылалось.
</li><li>Читающий это предложение существует только пока читает меня.
</li><li>Эй ты там - это ты меня читаешь, или кто-то другой?
</li><li>Скажи, разве ты не написал меня где-то прежде?
</li><li>Скажи, разве я не написал тебя где-то прежде?
</li><li>Это прелдожение не самоотносительно, поскольку не существует слова "прелдожение".
</li><li>Пока ты не смотришь сюда, это предложение на испанском.
</li><li>Я перевел это предложение на русский, поскольку я не смог прочитать его на санскрите.
</li><li>Предложение перед вашими глазами в прошлом году месяц было на венгерском и только недавно было обратно переведено на русский.
</li><li>Если бы это предложение было на китайском, то оно бы означало что-то ещё.
</li><li>.кат оннеми оге илатич ыб ыв етирви ан олыб еинежолдерп отэ ыб илсЕ
</li><li>Если бы это предложение не существовало, кто-нибудь бы его изобрел.
</li><li>Когда я закончу это предложение,
</li><li>Если бы не было никаких контрфактов, это предложение не было бы парадоксальным.
</li><li>На что было бы похоже это предложение, если бы оно не было самоотносимым?
</li><li>А на что было бы похоже это предложение, если бы пи равнялось трем?
</li><li>Это предложение состояло бы из семи слов, если было бы на семь слов короче.
</li><li>Это предложение не о себе, а о том, о себе ли оно.
</li><li>потому что я не придумал хорошего начала для этого предложения.
</li><li>Это предложение было в прошедшем времени.
</li><li>Это предложение имеет содержит два глагола.
</li><li>глаголом. Это предложение заканчивается
</li><li>Это не завершенное. Предложение. Это тоже.
</li><li>Это предложение содержит только одно нестандартное для русского языка кромпо.
</li><li>Это керяжка содержит много ниперявых для русского языка кромп, но общий науп можно вабзалеть из контекста.
</li><li>Это предложение содержит капуста шесть слов.
</li><li>Это так приятно, когда ваши глаза пробегают по моим кривым и засечкам.
</li><li>В этом предложении !!! преждевременная пунктуация
</li><li>Это хотя и не вопросительное предложение, но заканчивается знаком вопроса?
</li><li>Тот, кто записывал это придложение знаит руский ни очень харашо.
</li><li>Если вы встретите это предложение на доске - сотрите его.
</li><li>Если тебе нечего сказать, я это скажу.
</li><li>Мне не на что сослаться, и я ссылаюсь на это.
</li><li>Ты читаешь меня?
</li><li>Вы можете процитировать меня.
</li><li>Это пророчество сбудется.
</li><li>Это предложение закончится до того, как вы скажете "Это предложение закончится до того, как вы скажете
</li><li>Пожалуйста, включите меня в список самоотносимых предложений.
</li><li>Какой вопрос не глагола?
</li><li>В каком вопросе упоминается "зонтик" безо всякой на то причины?
</li><li>Как далеко на странице убежало это предложение?
</li><li>Следующее предложение полностью идентично этому, за исключением того, что слова "следующее" и "предыдущее" поменялись местами, также как слова "идентично" и "противоположно", и фразы "за исключением" и "в результате".
</li><li>Предыдущее предложение полностью противоположно этому, за исключением того, что слова "предыдущее" и "следующее" поменялись местами, также как слова "противоположно" и "идентично", и фразы "в результате" и "за исключением".
</li><li>Это предложение ссылается на все предложения, которые не ссылаются сами на себя.
</li><li>Это предложение недействительно.
</li><li>Окончание этого предложения я написал в доме, который находится на
</li><li>Само собой разумеется, что
</li><li>Если бы значения "истинно" и "ложно" поменялись бы, это предложение не было бы ложным.
</li><li>Я слышал, что это предложение - слух.
</li><li>Я не понимаю то, что я говорю.
</li><li>Все неверные силлогизмы нарушают хотя бы одно правило. Этот силлогизм нарушает по крайней мере одно правило. Поэтому это неверный силлогизм.
</li><li>Ностальгия не то, что было.
</li><li>Я обычно думал, что я нерешительный, но теперь я в этом неуверен.
</li><li>Я никогда не допускаю ошибок. Однажды мне показалось, что я её допустил, но я ошибался.
</li><li>Последние два слова этого предложения "были выкинуты".
</li><li>Это предложение предлагает своему (своим) читателю (читателям) различные вариации/альтернативы, которые он или она (или они) могут принять или/и отклонить.
</li><li>Если бы я заявил ещё что-то, это все равно был бы я?
</li><li>Если бы я был тобой, то кто бы читал это предложение?
</li><li>Вы, конечно, только начали читать предложение, которое только что закончили читать.
</li><li>Если вы думаете, что это предложение запутывающее, просто смените одну свинью.
</li><li>Мне не интересно, кто написал это предложение, но кто бы он ни был, он чертов сексист.
</li><li>Если бы это предложение находилось в начале списка, этот момент бы прошел по меньшей мере пять минут назад.
</li><li>Из-за обстоятельств от меня не зависящих, я - мастер своей судьбы и капитан собственной души.
</li><li>Я родился в хижине, построенной моими собственными руками.
</li><li>Всегда помните о правильном употреблении множественных числов.
</li><li>"Это" предпоследнее слово, которое включает это предложение
</li><li>Это предложение задается вопросом, когда кто-то действительно собирается задать вопрос.
</li><li>Это предложение подсчитано?
</li><li>Иррациональность - квадратный корень всех зол.
</li><li>На прошлый карнавал, на который я не пошел, я пришел в костюме невидимки.
</li><li>Это предложение четыре слова.
</li><li>Трубите, если ваш рог сломан.
</li><li>В этом предложении есть ошибка, расположенная в канце.
</li><li>Я никогда не заканчивают предложение словом "и".
</li><li>"Их" никогда не являются подлежащим предложения.
</li><li>- Что означают слова "амнезия" и "мазохизм"?<br>
- Не помню, хоть пытай!
</li><li>Возвратная частица ся с инфинитивом пишет слитно. 
</li><li>It is hard to translate this english phrase into russian. 
</li><li>"Игра с различиями использования и обозначения" - это не "главное в жизни, знаешь ли." 
</li><li>В этом предложении есть "луковицы", "салат", "помидоры", "за которыми следует жаркое". 
</li><li>Это - гамбургер с гласными, согласными, запятыми и точкой в конце.
</li><li>Давайте договоримся, что все, что заключено в тройные кавычки, например, ```нет, я передумал, лучше давайте договоримся, что нужно игнорировать все, что идет после закрывающей тройной кавычки и до конца предложения''', вообще не нужно читать (а уж тем более выполнять). 
</li><li>К сожалению, у нас только односторонняя связь: ты человек, а я всего лишь предложение. 
</li><li>Никакой язык не может недвусмысленно описать любой предмет, а особенно этот.
</li><li>Если бы желания были лошадьми, то посылка этой импликации была бы верной.
</li><li>Если бы в русском языке не было сослагательного наклонения, это предложение было бы грамматически верным. 
</li><li>За то время, пока Вы читаете это предложение восемьдесят девять букв могли бы быть обработаны вашим мозгом.
</li><li>На самом деле быть или не быть тут смешаны - вот в чем вопрос два предложения. 
</li><li>В этом предложении вообще нет знаков препинания запятая а в других есть точка 
</li><li>Это предложение кончится раньше, чем вы успеете произнести Карабас-Бара 
<hr color="#0000FF" width="40%">
</li><li>Эта фраза не нуждается в восклицательном знаке! А эта нуждается.
</li><li>Этот вопрос отвечает сам на себя! А этот вопрос не отвечает сам на себя?
</li><li>Это важное утверждение. Это незначительное утверждение. Почему более длинное утверждение менее важно, чем короткое?
</li><li>В этом предложении не хватает
</li><li>...Это предложение начинают и заканчивают три точки
</li><li>...Это предложение начинают и заканчивают три точки.
</li><li>...Это предложение начинают и заканчивают три точки...
</li><li>B -)ToM npeg/\o&gt;KeHuu HeT pycckux cumBo/\oB.
</li><li>В этом утверждениии слишком много букв.
</li><li>В этом утверждени слишком мало букв.
</li><li>В этом предложении 4 слова. 
</li><li>В этом предложении пять слов.
</li><li>В написанном предложении только 9 слов, а в прочитанном - целых 11.
</li><li>Это предложение граматически верно.
</li><li>В этом предложении тридцать две буквы.
</li><li>В этом предложении ровно сорок символов.
</li><li>В этой фразе двадцать слогов, пятьдесят девять букв и одиннадцать слов.
</li><li>В этом предложении двенадцать слов, двадцать два слога и шестьдесят восемь букв.
</li><li>В это предложение цифра "0" входит 1 раз, "1" - 11, "2" - 2, "3" - 1, "4" - 1, "5" - 1, "6" - 1, "7" - 1, "8" - 1, "9" - 1.
</li><li>В этом предложении цифра "0" встречается  ровно 1 раз, цифра "1" - 7 , "2" - 3, "3" - 2, "4" 1, "5" - 1, "6" - 1, "7" - 2, "8" - 1, "9" - 1.
</li><li>В этом предложении есть сорок четыре буквы "а", тридцать четыре буквы "б", сорок четыре буквы "в", одна буква "г", тридцать четыре буквы "д", двадцать семь букв "е", одна буква "е", две буквы "ж", одна буква "з", триднацать букв "и", одна буква "й", тридцать шесть букв "к", две буквы "л", шесть букв "м", девятнадцать букв "н", двадцать букв "о", три буквы "п", восемнадцать букв "р", одиннадцать букв "с", тридцать шесть букв "т", тридцать четыре буквы "у", одна буква "ф", одна буква "х", пятнадцать букв "ц", семь букв "ч", четыре буквы "ш", одна буква "щ", одна буква "ъ", восемнадцать букв "ы", двадцать одна буква "ь", две буквы "э", одна буква "ю", и три буквы "я".&nbsp; &nbsp;©&nbsp;Вячеслав Кабанович
</li><li>В этом предложении слово "в" встречается дважды, слово "встречается" встречается двенадцать раз, слово "дважды" встречается шесть раз, слово "двенадцать" встречается трижды, слово "предложении" встречается дважды, слово "раз" встречается четырежды, слово "слово" встречается двенадцать раз, слово "трижды" встречается трижды,  слово "четырежды" встречается дважды, слово "шесть" встречается дважды, слово "этом" встречается дважды.&nbsp; &nbsp;©&nbsp;Сумароков Стас
</li><li>Я постоянно очепятываюсь в слове "очепятка".
</li><li>Опечатки в этом предложении никогда не появдяются!
</li><li>"это" - опечатка? Это - опечатка? Эт о - опечатка?
</li><li>Это предложение нечитеамо! Это прелдожение нечитаемо!
</li><li>"Ты" там? Нет, "ты" здесь! "я" там! По крайней мере "Я" был там, а теперь "я" здесь!
</li><li>Я дважды не повторяю! Ясно? Дважды не повторяю!
</li><li>Совершенно точно, что ни в чем нельзя быть абсолютно уверенным.
</li><li>А закон исключения третьего - он или есть, или его нет, правда?
</li><li>Люди делятся на три типа: которые умеют считать, и которые не умеют.
</li><li>Люди делятся на два типа - тех, кто верит, что люди бывают двух типов, и тех, кто не верит.
</li><li><pre>Предложение
                    "Предложение
                                          "Предложение

...
(etc.,etc.)
...

                                          бесконечно длинное"
                    бесконечно длинное"
бесконечно длинное.</pre>
</li><li>Чтобы стать успешным, нужно соблюдать следующие два правила:<ol>
	<li>Никогда не рассказывайте всего, что Вы знаете.</li></ol>
</li><li>- Почему Дуглас Хофштадтер переходит через дорогу?
- Чтобы сделать этот вопрос возможным.
</li><li><blockquote>Нет конца у этой песни!<br>
Да! Вот так вот! Хоть ты тресни!<br>
Вечно будешь её петь...<br>
Почему? Ну как же, ведь<br>
<blockquote>Нет конца у этой песни!<br>
Да! Вот так вот! Хоть ты тресни!<br>
Вечно будешь её петь...<br>
Почему? Ну как же, ведь
<blockquote>Нет конца у этой песни!<br>
<strong>(и так далее)</strong></blockquote></blockquote></blockquote>
</li><li>Все обобщения неправильны!
</li><li>В этой фразе римская цифра "I" встречается IX раз, "V" - I, "X" - II, "L" - I, "C" - I, "D" - I и "M" - I раз.
</li><li>(Hе) Ты (не)свободен (не) принимать (не) любые (не) решения, даже (не) конструировать (не) эту фразу, (не) замечая (не) скобок с содержимым.
</li><li><em>Пpавило:</em> из всякого пpавила есть исключения.
</li><li>Если это будет выгодно - бескорыстными станут все.</li></ol>