
</br></br></br></br>
<h1>Слёзы вещей</h1>
<p>И я познаю мудрость и печаль,</p>
<p>Свой тайный смысл доверят мне предметы.</p>
<p>Природа, прислонясь к моим плечам,</p>
<p>Откроет свои детские секреты.</p>


