<h1>Edit</h1>

<%= form_for @event do |event| %>
    Дата -             <%= event.text_field :year %>
	Описание -         <%= event.text_field :description %>    	
	<p><%= event.submit "Создать" %> </p>
<% end %>

    